body {
    background-color: cadetblue;
}

.text-uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}
.container {
    max-width: 1170px;
    margin: auto;
}

header {
    text-align: center;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-right {
    margin-left: 100px;
}
